<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ardeveloper.plut" >

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/inventory"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/inventory"
        android:supportsRtl="true"
        android:theme="@style/main" >
        <activity
            android:name=".view.SalesFastMoving"
            android:exported="false" />
        <activity
            android:name=".view.OpnameStock"
            android:exported="false" />
        <activity
            android:name=".view.Inventory"
            android:exported="false" />
        <activity
            android:name=".view.Setting"
            android:exported="false" />
        <activity
            android:name=".view.StockReport"
            android:exported="false" />
        <activity
            android:name=".view.SalesReport"
            android:exported="false" />
        <activity
            android:name=".view.Shift"
            android:exported="false" />
        <activity
            android:name=".view.Report"
            android:exported="false" />
        <activity
            android:name=".view.DetailLaporan"
            android:exported="false" />
        <activity
            android:name=".view.DetailTransaksi"
            android:exported="false" />
        <activity
            android:name=".view.Sukses"
            android:exported="false" />
        <activity
            android:name=".view.Konfirmasi"
            android:exported="false" />
        <activity
            android:name=".view.AllTransaksi"
            android:exported="false" />
        <activity
            android:name=".view.Laporan"
            android:exported="false" />
        <activity
            android:name=".view.Akun"
            android:exported="false" />
        <activity
            android:name=".view.AllProduk"
            android:exported="false" />
        <activity
            android:name=".view.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".view.ProdukUmkm"
            android:exported="false" />
        <activity
            android:name=".view.TransaksiView"
            android:exported="false" />
        <activity
            android:name=".view.ScannerActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".view.ReturBarang"
            android:exported="false" />
        <activity
            android:name=".view.OpnameBarang"
            android:exported="false" />
        <activity
            android:name=".view.InputBarang"
            android:exported="false" />
        <activity
            android:name=".view.Umkm"
            android:exported="false" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UmkmStock"
            android:exported="false" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterUmkm"
            android:exported="false" />
        <activity
            android:name=".view.Kasir"
            android:exported="false" />
        <activity
            android:name=".view.StockOpname"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Plut" />
        <activity
            android:name=".view.Splash"
            android:exported="true"
            android:theme="@style/Theme.Plut" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>